/* 
Prioritizing mobile
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');
*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* 
Header styles
*/
header{
    display: flex;
    flex-direction: column;
}

.Pitch{
    display: flex;
    padding: 2px;
    background-color:  #ffb84d;
    text-align: center;
    width: 100vw;
    height: fit-content;
    align-items: center;

}

.bgTitle{
    display: flex;
    background-image: url(../IMG/PhoneTItleBacground.webp);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 42px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: antiquewhite;
    width: 100%;
    text-align: center;
}

.HeaderbuttonsContainer{
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
    width: 50%;
    background-color:transparent;
}

.HeaderButtons{
    justify-content: space-between;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 15px;
}
/* Fin del header */
/* Comienzo del main Section */

/*Barra de navegaion*/
nav ul{
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
    background-color: black;
    list-style-type: none;
}

/*Seccion principal*/
/*Cartas*/
.CardContainer{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    border-style: dashed;
    height: 75vh;
    
    
}
.ProfilePic{
    width: 185px;
    height: 185px;
    border-radius: 500px;
}

.PjText{
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

.PjText p{
    position: relative;
    top: 25%;
}

/*bacgorunds*/
.bgSheppard{
    background-color:  #e6ccb3    ;
    display: flex;
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}



/* Comienzo footer */

footer{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    color: azure;
    justify-content: space-between;
    
    padding: 10px;
}


/*Media Queries*/

@media (min-width: 768px) and (max-width: 1024px) {

.CardContainer{
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    width: 47%;
    margin: 5px;
    padding: 5px;
    height: 50vh;
}

}
@media (min-width: 1440px) {
.card{
    width: 24%;
    margin: 5px;
    padding: 5px;
    height: 40vh;
}
.CardContainer{
    flex-wrap: wrap;
    flex-direction: row;
}
.bgTitle{
    display: flex;
    background-image: url(../IMG/ShepardBg\ 1.png);
    background-size: cover;
    background-position: center;
    height: calc(50vh - 42px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
}